@import "../../../styles/core/variables";

:host {
    //display: block;

    display: flex;
    align-items: center;
}

.field {
    position: relative;
}

.show-error {
    .error {
        visibility: visible;
        color: red;
        font-size: 12px;
    }
}
