.wrapper {
    .title {
        margin: 30px 0 15px 16px;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 30px;
        color: #00A3FF;
        text-transform: lowercase;
    }
}


.hide-sideMenu {
    display: none;
}


