<div class="resources-container d-flex flex-column h-100 position-relative">
    <app-loader class="absolute" *ngIf="loading"></app-loader>
    <h1>{{'list.title' | translate}}</h1>

    <div class="d-flex justify-content-between align-items-center m-b-15">
        <div class="w-auto">
            <button *hasPermission="permissions.createResource" class="create-item primary medium w-auto" routerLink="create">
                <span>{{'list.create' | translate}}</span>
                <i class="icon-plus sz-13 l-h-13"></i>
            </button>
        </div>
        <div class="position-relative" *hasPermission="permissions.searchResource">
            <input #input class="search" type="text" placeholder="{{'list.search' | translate}}"
                   [formControl]="searchControl">
            <i class="icon-search position-absolute"></i>
        </div>
    </div>

    <app-grid-container [rowData]="items" [colDefs]="columnsDef" [redirectToDetails]="redirectToDetails"></app-grid-container>
</div>
