@import '../../../styles/core/variables';

div {

}

.link {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.0857143px;
    max-width: 30ch;
    color: $control-color-blue;
}

