:host {
    display: block;
}

.auth-form {
    background: #FFFFFF;
    box-shadow: 0 2px 2px rgba(72, 80, 86, 0.2);
    border-radius: 4px;
    padding: 40px 50px;
}

.padding {
    padding: 40px 50px;
}
