@import "../../../styles/core/variables";

form.auth-form {
    width: 500px;
    min-height: 367px;
    padding: 40px 50px 30px 50px;
}


.description {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 35px;
}
