<app-auth-loader *ngIf="!initialized"></app-auth-loader>

<ng-container *ngIf="initialized">
    <form
        *ngIf="!showExpiredError"
        (ngSubmit)="apply()"
        [formGroup]="form" class="auth-form overflow-hidden">
        <div *ngIf="!isUpdated" class="w-100" @slideInFromRight>
            <h2 class="m-b-20">{{'resetPassword.title'| translate}}</h2>

            <app-form-control [title]="'resetPassword.newPassword' | translate" [titleSize]="14"
                              [error]="errors?.password">
                <input type="password"
                       class=""
                       inputTypeToggle
                       (focus)="resetControlStatus($event)"
                       formControlName="password">
            </app-form-control>
            <div class="text-left w-100">
        <span class="color-grey sz-11 l-h-15" *ngIf="!errors?.password">
           {{'resetPassword.password-hist' | translate}}
        </span>
            </div>
            <app-form-control [title]="'resetPassword.confirmNewPassword'" [titleSize]="14"
                              [error]="errors?.confirmPassword">
                <input type="password"
                       (focus)="resetControlStatus($event)"
                       formControlName="confirmPassword">
            </app-form-control>
            <button class="primary m-t-20 d-flex justify-content-center align-items-center"
                    [disabled]="loading" type="submit">
                <span class="loading-spinner" *ngIf="loading"></span>
                <span class="m-l-10 m-r-10">{{'resetPassword.resetMyPassword'| translate}}</span>
            </button>
        </div>
        <div *ngIf="isUpdated" class="w-100 d-flex align-items-center flex-column" @slideInFromRight>
            <img src="../../../assets/img/successful-password-reset.png"
                 class="m-b-20"
                 alt="password successfully reset">

            <h2 class="title mt-20 m-b-30">
                {{'resetPassword.successful-reset' | translate}}
            </h2>
            <p class="description color-black text-center">
                {{'resetPassword.description' | translate}}
            </p>
            <button routerLink="../login" class="primary" type="submit">
                {{'resetPassword.login' | translate}}
            </button>
        </div>
    </form>

    <app-expired-link (onResend)="resendInstructions()" [loading]="loading" *ngIf="showExpiredError">
        <h2 class="title">Forgot password link has expired</h2>

        <div class="f-z-14 t-a-c l-h-22">
            Instruction to reset password sent to
            <span class="f-w-600">{{email}}</span>
            has expired.
        </div>
    </app-expired-link>
</ng-container>
