<div class="wrapper overflow-hidden">
    <div class="login position-relative" *ngIf="!isEmailSent">
        <div class="w-100" @slideInFromRight>
            <h2 class="title">{{"forgotPassword.title" | translate}}</h2>
            <form [formGroup]="form" (submit)="apply($event)">
                <app-form-control [title]="'forgotPassword.email'" [titleSize]="14" class="input-title"
                                  [error]="errors.email">
                    <input type="text" placeholder='{{"emailPlaceholder" | translate}}'
                           class="input-email"
                           (focus)="resetControlStatus($event)"
                           formControlName="email">
                </app-form-control>

                <button type="submit" class="d-flex justify-content-center align-items-center m-t-20"
                        [disabled]="loading">
                    <span class="loading-spinner" *ngIf="loading"></span>
                    <span class="m-l-10 m-r-10">{{"forgotPassword.submit" | translate}}</span>
                </button>
            </form>
            <div class="text-center pt-3 f-z-13">
                {{"forgotPassword.rememberPassword" | translate}}
                <a class="reg-link" [routerLink]="loginUrl">{{"forgotPassword.tryLogin" | translate}}</a>
            </div>
        </div>
    </div>

    <div class="login position-relative" *ngIf="isEmailSent">
        <div class="w-100" @slideInFromRight>
            <img class="verify-email-icon" src="../../../assets/img/verify-email.png"/>

            <h2 class="title m-t-20">{{"forgotPassword.instructionsSent" | translate}}</h2>
            <div class="text-center pt-3">
                {{"forgotPassword.emailInstructions" | translate}} <br>
                <span style="font-weight: bold;">{{ formValue?.email }}</span>
            </div>
            <div class="text-center pt-3">
                {{"forgotPassword.emailDidntReceive" | translate}}
                <br>
                {{"forgotPassword.checkSpam" | translate}}
                <a class="reg-link" (click)="resendEmail()">{{"forgotPassword.emailResend" | translate}}</a>
            </div>
        </div>
    </div>
</div>
