@import '../../../styles/core/variables';

.wrapper {
    height: 100%;
    background: #F6F6F8;
    box-shadow: 0 2px 2px rgba(72, 80, 86, 0.2);

    .login {
        width: 500px;
        background: #FFFFFF;
        box-shadow: 0 2px 2px rgba(72, 80, 86, 0.2);
        border-radius: 4px;
        min-height: 300px;
        padding: 0 50px;
        font-family: Open Sans, sans-serif;
        font-size: 14px;
        color: $color-text-black;

        .title {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            margin: 40px 0 15px;
        }

    }
}

.reg-link {
    color: $control-color-blue !important;
    font-weight: 600;
    cursor: pointer;
}

.input-email {
    padding: 9px 16px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    border-radius: 4px;
    width: 100%;
}

.verify-email-icon {
    display: block;
    margin: 20px auto;
}
