@import "../../../../styles/core/variables";

.close {
    width: 30px;
    padding: 0;
    margin: 0;
    color: rgba(115, 140, 153, 0.8);
    outline: none;
    position: absolute;
    top: 15px;
    right: 8px;
}


.dialog-container {
    border-radius: 8px;
    overflow: hidden;

    .dialog-header {
        padding: 20px 40px;
        text-align: center;

        background: #F6F6F8;
        font-size: 20px;
        color: $color-text-dark;
        //font-weight: 600;
        font-weight: bold;
        line-height: 27px;
    }

    .dialog-body {
        font-size: 14px;
        line-height: 140%;
        color: $color-text-black;

        padding: 30px 40px 20px 40px;
    }

    .dialog-actions {
        &:not(:empty) {
            padding: 10px 40px 30px 40px;
        }

        button {
            line-height: 18px;
            font-size: 13px;
        }
    }
}
