$basicFont: 'Open Sans', sans-serif;
$robotoFont: 'Open Sans', sans-serif;
//Colors
$red: #EC374A;
$red_dark: #AE0C1D;
$blue: #00A3FF;
$grey_icon: #738C99;
$grey_light: #F6F6F8;
$dark: #2E424A;
$blue_selected: #EAF5FC;
$grey_border: rgba(196, 210, 221, 0.5);
$orange: #FF9409;
$green: #00B48D;
