.#{$view} {

    .navigation-theme {
        background: $background;
    }

    .theme-color {
        color: $background;
    }

    .notifications-color {
        background: $notification;
    }
}
